<form method="post" action="/sessions">
  <label for="email-input" class="block mar-b-1">E-mail:</label>
  <input id="email-input" name="email" type="text" value="<%= @e%>" >
  <label for="password" class="block mar-b-1">Password:</label>
  <input id="password" name="password" type="text" value="<%= @password %>">

  <input type="submit" value="Submit" tabindex="3" class="block button">
</form>
